<!DOCTYPE html>
<html>
    <head>
        <style  type="text/css">
            [v-cloak] {display: none;}
        </style>
        <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/index.css">
        <link rel="stylesheet" href="https://unpkg.com/element-ui@2.12.0/lib/theme-chalk/display.css">
        <script src="https://unpkg.com/element-ui@2.12.0/lib/index.js"></script>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
    <div>
        <div class="bgWrap"></div>
        <div id="app" style="max-width: 1200px; margin: auto; padding: 5px; overflow: hidden" v-cloak>
          <!-- 网站标题 -->
          <el-row>
            <el-col >
              <div class="grid-content">
                <a class="text-logo" href="/">汪喵贴图板</a>
              </div>
            </el-col>
          </el-row>

          <!-- 分类导航 -->
          <el-row>
            <el-col :xs="12" :sm="6" :md="3" :lg="3" :xl="3">
              <div class="grid-content">
                <a href="/#all" v-on:click="getImg(1, 'all')">>>>ALL<<<</a>
              </div>
            </el-col>
            <el-col :xs="12" :sm="6" :md="3" :lg="3" :xl="3">
              <div class="grid-content">
                <a href="/#dog" v-on:click="getImg(1, 'dog')">>>>汪<<<</a>
              </div>
            </el-col>
            <el-col :xs="12" :sm="6" :md="3" :lg="3" :xl="3">
              <div class="grid-content">
                <a href="/#cat" v-on:click="getImg(1, 'cat')">>>>喵<<<</a>
              </div>
            </el-col>
            <el-col :xs="12" :sm="6" :md="3" :lg="3" :xl="3">
              <div class="grid-content">
                <a href="/#other" v-on:click="getImg(1, 'other')">>>>其他<<<</a>
              </div>
            </el-col>
          </el-row>

          <hr>
          <!-- 分页导航 -->
          <div class="paginate-nav">
              <a v-if="current_page > 1" @click="setPage('prev')">上一页</a>
              <a v-if="current_page > 2" @click="setPage(current_page-2)">{{current_page - 2}}</a>
              <a v-if="current_page > 1" @click="setPage(current_page-1)">{{current_page - 1}}</a>
              <span>[{{current_page}}]</span>
              <a v-if="max_page > 0" @click="setPage(current_page+1)">{{current_page + 1}}</a>
              <a v-if="max_page > 1" @click="setPage(current_page+2)">{{current_page + 2}}</a>
              <a v-if="max_page > 0" @click="setPage('next')">下一页</a>
          </div>

          <!-- 内容 -->
          <div style="overflow: hidden">
            <el-row :gutter="20">
              <el-col :xs="24" :sm="24" :md="24" :lg="13" :xl="13">
                <div class="feed">
                  <li class="item" v-for="(img, index) in imgList" :key="img.img_id">
                      <div class="img_id">
                          #{{img.img_id}}
                      </div>
                      <el-row>
                        <!-- 桌面浏览器与移动浏览器显示用户名的方式分开 -->
                        <el-col :span="24" class="hidden-lg-and-up">
                          <div class="post_info">
                            <label class="user_name_m">{{img.author}}</label>
                            <label class="timestamp">@ {{img.ct | dateFormat}}</label>
                          </div>
                        </el-col>
                        <el-col :span="4" class="hidden-md-and-down">
                          <div class="post_info">
                            <label class="user_name">{{img.author}}</label>
                            <label class="timestamp">@ {{img.ct | dateFormat}}</label>
                          </div>
                        </el-col>
                        <!-- 桌面浏览器与移动浏览器显示用户名的方式分开 -->
                        <el-col :span="24" :lg="20" :xl="20">
                          <div class="text">
                              <span v-html="img.word"></span>
                              <img :src="u" alt="" v-for="u in img.url">
                          </div>
                        </el-col>
                      </el-row>
                      <div class="comment" :data-imgId="img.img_id">
                          <div style="text-align: right; padding-right: 50px; margin: 5px 0px 10px 0px;">
                              <a id="ok" class="a-button" v-on:click="voteW(img.img_id, index)">汪 {{img.w}}</a> /
                              <a id="no" class="a-button" v-on:click="voteM(img.img_id, index)"> 喵 {{img.m}}</a> /
                              <a id="comment" class="a-button" v-on:click="commentsSwitch(index, img.img_id)"> 吐槽 {{img.comments_num}}</a>
                          </div>
                          <transition name="fade">
                          <div v-show="show[index]">
                              <div class="comments" v-for="c in comments[img.img_id]">
                                <el-col class="hidden-md-and-down">
                                  <label class="user_name" >{{c.author}}</label>
                                  <label class="timestamp">@ {{c.ct | dateFormat}}</label>
                                </el-col>
                                <el-col class="hidden-lg-and-up">
                                  <label class="user_name_m" >{{c.author}}</label>
                                  <label class="timestamp">@ {{c.ct | dateFormat}}</label>
                                </el-col>
                                  <br>
                                  <span>{{c.content}}</span>
                              </div>
                              <div class="comment-submit">
                                  <textarea class="post" name="post" rows="10" :id="'CTA-'+img.img_id"></textarea>
                                  <button v-on:click="submitComment(img.img_id)" class="button-submit">提交</button>
                              </div>
                          </div>
                          </transition>
                      </div>
                  </li>
                  <transition name="fade">
                  <div class="paginate-nav">
                      <a v-if="current_page > 1" @click="setPage('prev')">上一页</a>
                      <a v-if="current_page > 2" @click="setPage(current_page-2)">{{current_page - 2}}</a>
                      <a v-if="current_page > 1" @click="setPage(current_page-1)">{{current_page - 1}}</a>
                      <span>[{{current_page}}]</span>
                      <a v-if="max_page > 0" @click="setPage(current_page+1)">{{current_page + 1}}</a>
                      <a v-if="max_page > 1" @click="setPage(current_page+2)">{{current_page + 2}}</a>
                      <a v-if="max_page > 0" @click="setPage('next')">下一页</a>
                  </div>
                  </transition>
                </div>
              </el-col>
              <el-col :span="24" :lg="11" :xl="11">
                <div class="right-side">
                  <p style="font-size: 25px">Hello, <b>{{author}}</b><br></p>
                  <input type="text" id="author" placeholder="换个名字？在这里输入..." maxlength="16">
                  <button @click="setAuthor">决定</button>
                  <hr>
                  <li>投稿请将图片链接贴到下方输入框，提交后等待更新。</li>
                  <li>一次提交多个链接用英文分号“;”分割。</li>
                  <li>网站的主题是阿猫阿狗与其他可爱动物。</li>
                  <br>
                  <div>
                      图片链接：
                      <textarea class="post" name="url-post" v-model="imgUrl" id="text-url" rows="5" placeholder="http://xxxxxxxxxx"></textarea>
                  </div>
                  <div>
                      附文：
                      <textarea class="post" name="word-post" v-model="imgWords" id="text-word" rows="3" placeholder="还想说点什么…"></textarea>
                  </div>
                  <div>
                      投稿到：
                      <select id="select-board" v-model="board">
                          <option v-for="option in boardSelect" v-bind:value="option.value">
                            {{ option.key }}
                          </option>
                      </select>
                  </div>
                  <button v-on:click="submitUrl" class="button-submit">提交</button>
                  <hr>
                  <li>
                    本页面图片皆为用户发布，适用避风港原则。如有涉嫌侵权图片，请邮件联系admin@wangmiao.me，告知图片URL或者图片所在楼层(左上角的)编号以及侵权证据。
                  </li>
                  <a title="回到顶部" id="id_nav_top" v-on:click="backTop" v-show="scrollFlag">
                    <span>▲</span>
                  </a>
                </div>
              </el-col>
            </el-row>
          </div>

          <!-- 弹出框 -->
          <transition name="fade">
          <div class="flash-message" v-if="alert">
              {{message}}
          </div>
          </transition>

          <!-- 页脚 -->
          <div class="footer">
            <hr>
            <h2 style="display: inline-block">- .... .. ... -....- .. ... -....- ..-. --- --- - . .-. </h2>
            <a href="http://kohi.online" target="_blank"><i>>> blog</i></a>
          </div>

        </div>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101079172-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-101079172-2');
    </script>
    </body>
</html>
